
.blog-embed-content-list li {
  margin-left: 0;
  padding-left: 0;
}

.blog-embed-content-list li::before {
  margin-right: 0.5em;
  position: relative;
  left: 0;
}

.blog-embed-post ol > li::marker {
  display: none;
}
