
.blog-embed-content-list li {
  position: relative;
  margin-bottom: 0.75rem;
  padding-left: 1.5em;
}

.blog-embed-content-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #000;
  font-size: 2em; /* Increased bullet size */
  line-height: 1;
  top: -0.1em; /* Adjusted positioning */
}

.blog-embed-post ol > li::marker {
  color: #000;
  font-weight: 600;
}
