
.blog-post-content ul {
  margin-left: 0;
  padding-left: 0;
}

.blog-post-content ul li {
  margin-left: 0;
  padding-left: 0;
}

.blog-post-content ul li::before {
  margin-right: 0.5em;
  position: relative;
  left: 0;
}

.blog-post-content ol {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.blog-post-content ol li {
  margin-left: 0;
  padding-left: 0;
}

.blog-post-content ol li::before {
  margin-right: 0.5em;
}
